{% block messages %}
{% for type, messages in message_list %}
  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
    {% if type == 'error' %}
      <div class="wdn_notice overlay-header negate">
    {% elseif type == 'status' %}
      <div class="wdn_notice overlay-header affirm">
    {% elseif type == 'warning' %}
      <div class="wdn_notice overlay-header alert">
    {% else %}
      <div class="wdn_notice overlay-header">
      {% endif %}
      <div class="close">
        <a href="#" title="Close this notice">Close this notice</a>
      </div>
      <div class="message">
        {% if status_headings[type] %}
          <h4>{{ status_headings[type] }}</h4>
        {% endif %}
        {% if messages|length > 1 %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ messages|first }}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
<script>WDN.initializePlugin('notice');</script>
{% endblock messages %}
